<div class="maincontent">

    <article class="article">
        <h1 class="article-title">Who are we?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maiores similique quaerat a suscipit maxime dolore dolorum eaque nemo quasi exercitationem provident necessitatibus quidem quo consectetur porro sapiente, ipsam aspernatur? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione quo in dicta veniam assumenda voluptatibus sequi quia, dolorum cumque magnam natus pariatur enim vel nesciunt temporibus ipsa odio nam maiores.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, architecto. Dolorem atque impedit iste libero tempora dignissimos accusantium laborum molestiae similique commodi! Velit suscipit voluptatum fugiat! Velit, obcaecati labore? Aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </article><!-- article -->

    <article class="article">
        <h1 class="article-title">Get Busy!</h1>
        <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com">join our meetup group</a>, <a href="http://www.twitter.com">follow us on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com">join our FaceBook group</a>.</p>
    </article><!-- article -->

    <article class="article">
        <h1 class="article-title">Who should come?</h1>
        <ul>
        <li>Anybody interested in art and the creative industry</li>
        <li>Painters, sculptors, photographers and graphic artists</li>
        <li>Those interested in meeting and making a connection with others in the local art scene.</li>
        </ul>
    </article><!-- article -->

</div>